SLACK_BOT_PORT=3000
SLACK_BOT_TOKEN=<your slack bot token>
SLACK_SIGNING_SECRET=<your slack bot signing secret>
BITBUCKET_API_TOKEN=<your bitbucket token>
BITBUCKET_BASE_URL=<you bitbucket server url>
DIAGNOSTIC_CHANNEL=<Optional channel to send error notifications>
DEFAULT_CHANNEL_PARTICIPANTS=<comma-separated list of user ids to add to all PR channels (e.g. different bots)>
