SLACK_BOT_PORT=3000
SLACK_BOT_TOKEN=<YOUR BOT TOKEN>
SLACK_SIGNING_SECRET=<YOUR SECRET>
BITBUCKET_API_TOKEN=<YOUR BITBUCKET TOKEN>
BITBUCKET_BASE_URL=<YOUR BITBUCKET SERVER ADDRESS>
DIAGNOSTIC_CHANNEL=<OPTIONAL CHANNEL TO SEND ERRORS>
