SLACK_BOT_PORT=8080
SLACK_BOT_HOST=0.0.0.0

SLACK_WORKSPACE_ID=<YOUR SLACK WORKSPACE ID>
SLACK_BOT_TOKEN=<your slack bot token>
SLACK_SIGNING_SECRET=<your slack bot signing secret>

DB_HOST=postgres
DB_PORT=8432
DB_PASSWORD=CHANGE-ME!
DB_USERNAME=merge-it-hot
DB_NAME=merge-it-hot

GITHUB_APP_ID=<YOUR TEST APP ID>
GITHUB_APP_PRIVATE_KEY=<YOUR TEST APP SECRET FILE CONTENT>
HMAC_SECRET=<Your hmac secret for signing requests. Optional>

DIAGNOSTIC_CHANNEL=<Optional channel to send error notifications>
DEFAULT_CHANNEL_PARTICIPANTS=<comma-separated list of user ids to add to all PR channels (e.g. different bots)>
OPENED_PRS_BROADCAST_CHANNEL=<Optional. Don't forget to add bot to that channel to be able to search messages>